.product-page {
    display: flex;
    flex-direction: column;
    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        // align-items: center;
        justify-content: center;
        .product-item {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding: 1rem;
            border-radius: 12px;
            background: lightgrey;
            transition-duration: 120ms;
            &:hover {
                scale: 1.1;
            }
        }
    }
}
